div.scroll {
	overflow:auto;
	padding-top:30px;
	margin-top:-10px;
}

table.table td.pos {
	color:#00c000;
}

table.table td.neg {
	color:#c00000;
}

@media (min-width:768px) {
	table.table th:nth-child(1) {
		min-width:120px;
	}

	table.table th:nth-child(2),
	table.table td:nth-child(2) {
		min-width:80px;
		text-align:right;
		padding-right:15px;
	}

	table.table th:nth-child(3) {
		min-width:150px;
	}

	table.table th:nth-child(n+4) {
		width:100px;
	}

	table.table thead {
		height:50px;
	}

	table.table th:nth-child(n+4) {
		width:100px;
		max-width:100px;
	}

	table.table th:nth-child(n+4) div {
		transform:rotate(-20deg);
		transform-origin:left bottom;
		width:120px;
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
		position:relative;
		left:5px;
	}

	table.table td:nth-child(n+4) {
		text-align:right;
	}

	.table {
		border-collapse:initial;
	}

	.table tfoot tr td {
		border-top:1px solid #808080;
		font-weight:bold;
	}

	table.table span.header {
		display:none;
	}
}

@media (max-width:767px) {
	table.table thead {
		display:none;
	}

	table.table td {
		text-align:right;
	}

	table.table tfoot td:first-child {
		text-align:left;
		font-weight:bold;
	}

	table.table span.header {
		margin-right:5px;
		color:#333333;
		float:left;
	}
}
