div.scroll {
	overflow:auto;
	padding-top:10px;
	margin-top:-10px;
}

table.table th:nth-child(2),
table.table td:nth-child(2) {
	width:120px;
	text-align:right;
	padding-right:15px;
}

div.input-group input.form-control {
	max-width:467px;
}

div.input-group {
	margin-bottom:5px;
}

table.table tfoot tr td {
	border-top:1px solid #808080;
	font-weight:bold;
}

@media (min-width:768px) {
	table.table {
		margin-top:20px;
	}

	table.table th:nth-child(1) {
		min-width:120px;
	}

	table.table th:nth-child(3) {
		min-width:150px;
	}

	table.table th:nth-child(n+4) {
		width:100px;
	}

	table.table th:nth-child(n+4) div {
		transform:rotate(330deg);
		width:inherit;
		white-space:nowrap;
		overflow:hidden;
		text-overflow:ellipsis;
		position:relative;
		top:-20px;
	}
}

@media (max-width:767px) {
	table.table th:nth-child(n+4),
	table.table td:nth-child(n+4) {
		display:none;
	}
}
