table.table th:nth-child(4) {
	width:80px;
}

span.selections input {
	margin-left:5px;
}

div input[type=checkbox] {
	margin-right:5px;
}

div.input-group {
	margin-top:10px;
}

div.input-group {
	z-index:1;
}
