* {
	margin:0;
	padding:0;
}

html, body {
	height:100%;
}

div.wrapper {
	min-height:100%;
	position:relative;
}

h1 {
	font-size:32px;
	margin-top:0;
}

h2 {
	font-size:24px;
	margin-bottom:5px;
}

h3 {
	font-size:18px;
}

ul {
	padding-left:15px;
}

div.left {
	float:left;
}

div.right {
	float:right;
}

div.clear {
	clear:both;
}

img.title_icon {
	float:right;
	margin-top:-15px;
	margin-bottom:-15px;
}

div.input-group input.btn,
div.input-group button.btn {
	padding:6px 25px;
}

@media (max-width:767px) {
	table.table-xs > thead > tr > th,
	table.table-xs > tbody > tr > td,
	table.table-xs > tfoot > tr > td {
		display:block;
	}

	table.table-xs > thead > tr > th:last-child {
		border:none;
	}

	table.table-xs > thead > tr > th:first-child,
	table.table-xs > tbody > tr > td:first-child,
	table.table-xs > tfoot > tr > td:first-child {
		border-top:2px solid #808080;
	}
}

/* Header
 */
div.header {
	height:125px;
	background-image:url(/images/background.jpg);
	background-size:cover;
}

@media (max-width:991px) {
	div.header {
		height:100px;
	}
}

@media (max-width:767px) {
	div.header {
		height:75px;
	}
}

nav.navbar {
	margin-bottom:0;
	border-radius:0
}

/* Content
 */
div.content div.container {
	padding-top:25px;
	padding-bottom:75px;
	position:relative;
}

input.form-control, textarea.form-control, select.form-control {
	max-width:500px;
	margin-bottom:5px;
}

div.input-group {
	max-width:500px;
}

@media (max-width:767px) {
	input.form-control, textarea.form-control, select.form-control {
		font-size:16px;
	}
}

input[type=checkbox] {
	margin-left:5px;
}

textarea.form-control {
	height:75px;
}

div.btn-group {
	margin:15px 10px 10px 0;
}

.btn {
	padding:4px 24px;
}

.btn-xs {
	padding:0 16px;
}

table.table-hover tbody tr:hover {
	cursor:pointer;
}

/* Footer
 */
div.footer {
	position:absolute;
	bottom:0;
	height:50px;
	width:100%;
	background-color:#f0f0f0;
	border-top:1px solid #e0e0e0;
	padding-top:15px;
	text-align:center;
	color:#a0a0a0;
	font-size:12px;
}

div.footer a {
	color:#606060;
}

@media (min-width:768px) {
	div.footer span:before {
		content:"|";
		margin:0 20px;
	}
	div.footer span:first-child:before {
		content:"";
		margin:0;
	}
}

@media (max-width:767px) {
	div.content div.container {
		padding-bottom:140px;
	}
	div.footer {
		height:125px;
	}
	div.footer span {
		display:block;
		margin-bottom:10px;
	}
}
